@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin blWhTitle {
  p {
    font-size: rem(21);
    line-height: rem(21);
    font-weight: 500;
    letter-spacing: -0.63px;
    text-transform: uppercase;
    transition: opacity 0.3s ease-out;
    opacity: 1;

    span {
      display: block;
      -webkit-text-stroke: 0.5px #3b2f44;
      opacity: 0.28;
      color: transparent;
    }

    &.off {
      opacity: 0;
    }
  }
}