.headline-with-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  h1 {
    line-height: 4rem;
    font-size: 43px;
  }

  p {
    max-width: 691px;
    margin-top: 20px;
    line-height: 40px;
    font-size: 23px;
    font-weight: 500;
  }

  .button {
    display: flex;
    align-self: center;
    padding-top: 20px;
  }
}
