@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Outfit&display=swap');


/*html {
  font-size: 62.5%; // 10px
  scroll-behavior: smooth;
  &.fancybox-lock {
    body {
      -webkit-overflow-scrolling: touch;
    }
  }
}
*/
.wsfcc__body {
  line-height: 1.6;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "Noto Sans Japanese", Quicksand, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
  background-color: #fff;

  &.lock {
    overflow: hidden;
  }

  .sp_show {
    display: none;

    @media only screen and (max-width: 428px) {
      display: block;
    }
  }

  .sp_hide {
    display: block;

    @media only screen and (max-width: 428px) {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", YuGothic, "Noto Sans Japanese", Quicksand, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, sans-serif;
  }

  .font_outfit {
    font-family: 'Outfit', sans-serif !important;
  }

  #top_modal {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: 500;
  }

  h3 {
    line-height: 1.2;
    font-size: 32px;
    font-weight: normal;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  a {
    text-decoration: none;

  }

  a.action.order {
    display: none;
  }

  a,
  input,
  textarea,
  button {
    outline: none;
  }

  img {
    vertical-align: top;
  }

  ul {
    margin: 0;
  }

  li {
    margin-bottom: 0;
  }

  .pc {
    display: block;
  }

  .sp {
    display: none !important;
  }

  .wsfcc__main {
    overflow: hidden;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .gr_btn {
    background-color: #0092D5;
    border: 1px solid #0092D5;
    text-align: center;
    display: table;
    margin: auto;
    color: #fff;
    border-radius: 30px;
    line-height: 42px;
    height: 42px;
    padding: 0 44px;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 16px;

    &:hover {
      color: #0092D5;
      background-color: #fff;
    }
  }

  .bl_btn {
    background-color: #0092D5;
    border: 1px solid #0092D5;
    text-align: center;
    display: table;
    margin: 40px auto 0;
    color: #fff;
    border-radius: 30px;
    line-height: 42px;
    height: 42px;
    padding: 0 44px;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 16px;

    &:hover {
      color: #0092D5;
      background-color: #fff;
    }
  }

  .wsfcc__wrapper {
    max-width: 1270px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
  }

  .anim_svg_line {
    .st0 {
      fill: #00325F;
    }

    .st1 {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 7;
      stroke-miterlimit: 10;
    }

    #svgline {
      mask: url(#svgline_mask);
    }

    #svgline_mask {
      stroke-dasharray: 1800;
      stroke-dashoffset: 0;
    }

    #svgline_arr {
      opacity: 0;
      transition: all 0.2s ease 1.0s;
    }
  }

  .anim_svg_line.act #svgline_mask {
    -webkit-animation: stroke 2s cubic-bezier(0.58, 0.18, 0.35, 1) forwards;
    animation: stroke 1.6s cubic-bezier(0.77, 0.23, 0.39, 0.97) forwards;
    stroke-dashoffset: 0;
  }

  .anim_svg_line.act #svgline_arr {
    opacity: 1;
  }

  @-webkit-keyframes stroke {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dasharray: 900, 900;
      stroke-dashoffset: -900;
    }
  }

  @keyframes stroke {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dasharray: 900, 900;
      stroke-dashoffset: -900;
    }
  }

  @keyframes circle_rotation {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes logolist_loop {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .wsfcc__col2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;

    @media only screen and (max-width: 820px) {
      margin-bottom: 50px;
    }

    .img {
      position: relative;
      width: 50%;

      .rimg {
        overflow: hidden;

      }

      img {
        width: 100%;
      }
    }

    .txt {
      padding-left: 100px;
      padding-right: 70px;
      width: 50%;
      color: #00325F;

      @media only screen and (max-width: 1200px) and (min-width: 821px) {
        padding-left: 20px;
        padding-right: 5%;
      }

      h4 {
        font-size: 16px;
        margin-bottom: 30px;
        color: #0092D5;
      }

      h3 {
        font-size: 29px;
        font-weight: 600;
        margin-bottom: 40px;
        line-height: 1.5;
        color: #0092D5;
      }

      p {
        line-height: 2;
        font-size: 16px;
      }

      p:nth-of-type(2) {
        margin-top: 25px;
      }

      .wsfcc__btxt {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .wsfcc__stxt {
        font-size: 16px;
        font-weight: 300;

        p {
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      .wsfcc__listtxt {
        padding-left: 30px;

        li {
          position: relative;
          margin-bottom: 20px;

          &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: -30px;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: #0092D5;
          }

          h4 {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            color: #00325F;
          }

          .wsfcc__stxt {
            p {}
          }
        }
      }
    }

    &.rev {
      .img {
        order: 2;
      }

      .txt {
        order: 1;
        padding-left: 75px;
        padding-right: 105px;
      }

      @media only screen and (max-width: 1200px) and (min-width: 821px) {
        .txt {
          padding-left: 5%;
          padding-right: 20px;
        }
      }

      @media only screen and (max-width: 820px) {
        display: block;

        .img {
          width: 100%;
          padding-left: 80px;
          padding-right: 80px;
        }

        .txt {
          width: 100%;
          padding-left: 80px;
          padding-right: 80px;
        }
      }

      @media only screen and (max-width: 428px) {
        .img {
          padding-left: 0;
          padding-right: 0;
        }

        .txt {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &.align-items {
      align-items: center;
    }

    @media only screen and (max-width: 820px) {
      display: block;

      .img {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
      }

      .txt {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
      }
    }

    @media only screen and (max-width: 428px) {
      .img {
        padding-left: 0;
        padding-right: 0;
      }

      .txt {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  input,
  button,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
  }

  textarea {
    resize: vertical;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: none;
  }

  input[type='submit'],
  input[type='button'],
  label,
  button,
  select {
    cursor: pointer;
  }

  select::-ms-expand {
    display: none;
  }


  .scrl_anim {
    .anim_obj01 {
      transition: all 1.6s cubic-bezier(0.49, 0.2, 0.12, 0.88);
      opacity: 0;
      transform: translateY(70px) scale(1.05);
    }

    .anim_obj02 {
      transition: all 1.6s cubic-bezier(0.49, 0.2, 0.12, 0.88) 0.3s;
      opacity: 0;
      transform: translateY(70px) scale(1.05);
    }

    .anim_obj03 {
      transition: all 1.6s cubic-bezier(0.49, 0.2, 0.12, 0.88) 0.6s;
      opacity: 0;
      transform: translateY(70px) scale(1.05);
    }

    .anim_obj04 {
      transition: all 1.6s cubic-bezier(0.49, 0.2, 0.12, 0.88) 0.9s;
      opacity: 0;
      transform: translateY(70px) scale(1.05);
    }

    .anim_obj05 {
      transition: all 1.6s cubic-bezier(0.49, 0.2, 0.12, 0.88) 1.2s;
      opacity: 0;
      transform: translateY(70px) scale(1.05);
    }

    .anim_obj06 {
      transition: all 1.6s cubic-bezier(0.49, 0.2, 0.12, 0.88) 1.5s;
      opacity: 0;
      transform: translateY(70px) scale(1.05);
    }

    &.act {

      .anim_obj01,
      .anim_obj02,
      .anim_obj03,
      .anim_obj04,
      .anim_obj05,
      .anim_obj06 {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  .wsfcc__section {
    @media only screen and (max-width: 428px) {
      background-color: #F8FBFC;
    }

    .sp_show {
      display: none;
    }

    @media only screen and (max-width: 820px) {
      .sp_show {
        display: block;
      }

      .tb_hide {
        display: none !important;
      }
    }

    &__head {
      padding-top: 190px;

      @media only screen and (max-width: 820px) {
        padding-top: 150px;
      }

      &__logo {
        display: block;
        margin: 0 auto 25px;
      }

      &__expert {
        margin: 0 auto 30px;
        text-align: center;
      }

      &__h2 {
        font-size: 48px;
        text-align: center;
        color: #00325F;
        margin-bottom: 30px;
        line-height: 1.8;
        font-weight: 600;

        span {
          color: #0092D5;
        }

        @media only screen and (max-width: 820px) {
          font-size: 32px;
        }
      }

      &__p {
        font-size: 24px;
        text-align: center;
        color: #00325F;
        line-height: 1.8;
        font-weight: 500;

        @media only screen and (max-width: 820px) {
          font-size: 16px;
        }
      }

      .gr_btn {
        margin-top: 30px;
        font-size: 15px;
      }

      .bl_btn {
        margin-top: 30px;
        font-size: 15px;
      }

      &__img {
        margin-top: 60px;
        position: relative;

        &:before {
          content: "";
          height: 250px;
          width: 100%;
          background-color: #F8FBFC;
          z-index: 0;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        &__logo {
          position: fixed;
          bottom: 40px;
          right: 40px;
          z-index: 1;

          @media only screen and (max-width: 820px) {
            display: none;
          }
        }

        &__wrap {
          max-width: 925px;
          width: 100%;
          margin: auto;
          position: relative;
          z-index: 1;

          .anim_svg_line {
            position: absolute;
            right: -150px;
            top: -30px;
            z-index: 5;

            @media only screen and (max-width: 428px) {
              top: 35%;
            }
          }
        }

        &__main {
          border-radius: 60px;
          overflow: hidden;
          width: 50%;
          margin-left: 10%;
          z-index: 0;
          position: relative;

          img {
            width: 100%;
          }

          @media only screen and (max-width: 428px) {
            width: calc(100% - 40px);
            margin-left: 20px;
            border-radius: 30px;
          }
        }

        &__phone {
          position: absolute;
          right: 0;
          top: 30px;
          width: 53%;
          z-index: 6;

          &.pc {
            display: block;
          }

          &.sp {
            display: none;
          }

          @media only screen and (max-width: 428px) {
            position: relative;
            right: auto;
            width: 100%;
            top: auto;
            margin-top: -40vw;
            z-index: 2;

            &.pc {
              display: none;
            }

            &.sp {
              display: block !important;
            }
          }
        }

        &__circle {
          position: absolute;
          bottom: 20px;
          left: 0;
          z-index: 5;
          animation: 10s linear infinite circle_rotation;

          @media only screen and (max-width: 428px) {
            top: 43%;
            left: -5%;
          }
        }
      }
    }

    &__about {
      background-color: #F8FBFC;
      padding-top: 90px;
      overflow: hidden;

      @media only screen and (max-width: 428px) {
        padding-top: 0;
      }

      &__h2 {
        font-size: 38px;
        text-align: center;
        font-weight: 500;
        color: #0092D5;
        line-height: 1.8;
        margin-bottom: 20px;

        @media only screen and (max-width: 820px) {
          font-size: 22px;
        }
      }

      &__p {
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        color: #00325F;
        line-height: 1.8;
        margin-bottom: 50px;

        @media only screen and (max-width: 820px) {
          font-size: 14px;
        }
      }

      &__logos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 90px;

        @media only screen and (max-width: 820px) {
          overflow-y: scroll;
          justify-content: flex-start;
        }
      }

      &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;

        img {
          width: auto;
          max-height: 80px;

          @media only screen and (max-width: 1290px) {
            max-height: 5vw;
          }

          @media only screen and (max-width: 820px) {
            max-height: 66px;
          }
        }
      }

      &__img01 {
        max-width: 588px;
        width: 100%;
        display: block;
        margin: 0 auto 130px;

        @media only screen and (max-width: 820px) {
          margin-bottom: 50px;
        }
      }

      .wsfcc__col2 {
        .txt {
          padding-right: 0;

          .logo_shopify {
            margin-bottom: 35px;
            margin-top: 40px;
            max-height: 60px;

            @media only screen and (max-width: 820px) {
              margin-left: auto;
              margin-right: auto;
              display: block;
            }
          }

          .ttl_head {
            margin-bottom: 25px;
            margin-top: 60px;
            width: 270px;

            @media only screen and (max-width: 820px) {
              margin-left: auto;
              margin-right: auto;
              display: block;
            }
          }
        }

        .img {
          .svg_img_arr {
            position: absolute;
            width: 90px;
            top: 45px;
            right: -30px;

            @media only screen and (max-width: 820px) {
              width: 45px;
              right: 0;
            }
          }

          .salesforce_logo {
            position: absolute;
            width: 160px;
            top: 65px;
            left: 5px;

            @media only screen and (max-width: 820px) {
              display: none;
            }
          }
        }

        &.about02 {
          @media only screen and (max-width: 820px) {
            padding-bottom: 30px;
          }
        }

        &.rev {
          .txt {
            padding-left: 0;
            //padding-right: 90px;
          }
        }
      }

    }

    &__whatwedo {
      padding-top: 160px;

      @media only screen and (max-width: 820px) {
        padding-top: 90px;
        background-color: #fff;
      }

      @media only screen and (max-width: 428px) {
        padding-bottom: 200px;
      }

      h2 {
        text-align: center;
        margin-bottom: 125px;

        @media only screen and (max-width: 820px) {
          margin-bottom: 90px;
        }

        .main {
          font-size: 53px;
          color: #0092D5;
          display: block;
          text-align: center;
          margin-bottom: 5;
          line-height: 1;
        }

        .sub {
          font-size: 18px;
          color: #00325F;
          display: block;
          text-align: center;
          line-height: 1;
        }
      }

      .wsfcc__col2 {
        margin-bottom: 40px;

        @media only screen and (max-width: 820px) {
          margin-top: 90px;

          &:first-child {
            margin-top: 0;
          }
        }

        .img {
          position: relative;

          .svg_img_arr2 {
            position: absolute;
            width: 90px;
            bottom: 90px;
            left: -45px;

            @media only screen and (max-width: 820px) {
              width: 57px;
              left: 20px;
              bottom: -20px;
            }
          }
        }

        .txt {
          h3 {
            margin-bottom: 30px;
            color: #00325F;
          }

          h4 {
            margin: 0;
          }

          @media only screen and (max-width: 820px) {
            margin-top: 50px;
          }
        }
      }

      .wsfcc__logolist {
        position: relative;
        margin: 40px auto 0;
        overflow: hidden;

        &:before,
        &:after {
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          display: block;
          width: 100px;
          height: 100%;
        }

        &:before {
          left: -50px;
          background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
        }

        &:after {
          right: -50px;
          background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
        }

        &__ul {
          display: inline-flex;
          flex-wrap: nowrap;
          column-gap: 10px;
          overflow: visible;
          -webkit-animation: logolist_loop 30s infinite linear;
          animation: logolist_loop 30s infinite linear;


          li {
            width: 108px;
            min-width: 108px;
            pointer-events: none;

            img {
              width: 100%;
              pointer-events: none;
            }
          }
        }
      }
    }

    &__more {
      padding-top: 190px;
      padding-bottom: 100px;
      background-color: #F8FBFC;
      position: relative;

      .ttl_shopifyplus {
        width: 300px;
        margin: auto;
        display: block;
      }

      .imgInVideo {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 60%;
          left: 50%;
          display: block;
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          border-radius: 100%;
          background-color: #E0E5ED;
          transform: translate(-50%, -50%);
        }

        img {
          position: relative;
          z-index: 5;
        }

        .video {
          position: absolute;
          z-index: 4;
          top: 12.8%;
          left: 27.5%;
          width: 42.2%;
          overflow: hidden;
          border-radius: 20px;

          video {
            width: 100%;
            vertical-align: top;
          }
        }

        @media only screen and (max-width: 820px) {
          margin: 0 -20px;
          overflow: hidden;

          img {
            width: 120%;
            margin-left: -10%;
          }
        }
      }

      .anim_svg_line {
        position: absolute;
        left: 82%;
        transform: translateX(-50%);
        top: -100px;

        @media only screen and (max-width: 820px) {
          top: -50px;
        }

        @media only screen and (max-width: 428px) {
          top: -150px;
        }
      }

      h2 {
        display: inline-block;
        font-size: 7.7vw;
        color: #0092D5;
        text-align: center;
        margin-bottom: 70px;
        white-space: nowrap;
        -webkit-animation: logolist_loop 30s infinite linear;
        animation: logolist_loop 30s infinite linear;

        span {
          margin: 0 10px;
        }

        @media only screen and (max-width: 820px) {
          white-space: nowrap;
        }

        img {
          @media only screen and (max-width: 428px) {
            margin-bottom: 10px;
          }
        }
      }

      .wsfcc__col2 {
        margin-bottom: 0;

        .txt {
          h3 {
            margin-bottom: 30px;
            color: #00325F;
          }

          h4 {
            margin: 0;
            font-weight: 500;
          }

          .bl_btn {
            margin: 0 auto;
          }
        }

      }

      @media only screen and (max-width: 820px) {
        .gr_btn {
          margin-top: 50px;
        }

        .bl_btn {
          margin-top: 50px;
        }
      }
    }

    &__sfccwork {
      padding-top: 200px;
      padding-bottom: 230px;

      @media only screen and (max-width: 820px) {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #fff;
      }

      h2 {
        font-size: 53px;
        color: #0092D5;
        text-align: center;
        line-height: 1;
        margin-bottom: 150px;

        @media only screen and (max-width: 428px) {
          font-size: 32px;
          text-align: center;
        }
      }

      &__ul {}

      &__li {
        margin-bottom: 80px;

        @media only screen and (max-width: 428px) {
          width: 100%;
          margin-bottom: 60px;
        }

        &:nth-of-type(2n) {
          .img {
            order: 1;
          }

          .txt {
            order: 0;
          }

          @media only screen and (max-width: 820px) {
            .img {
              order: 0;
            }

            .txt {
              order: 1;
            }
          }
        }

        &__inner {
          position: relative;
          display: flex;
          column-gap: 7%;
          justify-content: space-between;
          color: #00325F;
          align-items: center;

          @media only screen and (max-width: 820px) {
            column-gap: 0;
            flex-wrap: wrap;

          }
        }

        .svg_img_arr2 {
          position: absolute;
          width: 90px;
          bottom: -60px;
          right: 70px;
          z-index: 1;

          @media only screen and (max-width: 820px) {
            display: none;
          }
        }

        .img {
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          width: 52%;

          img {
            width: 100%;
          }

          @media only screen and (max-width: 820px) {
            width: 100%;
          }
        }

        .txt {
          width: 40%;
          padding-top: 30px;

          h3 {
            font-size: 28px;
            margin-bottom: 10px;
            color: #00325f;
          }

          p {
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 2.1;
          }

          .btn {
            display: inline-block;
            padding: 10px 40px;
            font-size: 16px;
            color: #0092D5;
            border-radius: 25px;
            border: 1px solid #0092D5;
            transition: color .3s ease, background .3s ease;

            &:hover {
              background-color: #0092D5;
              color: #fff;
            }
          }

          @media only screen and (max-width: 820px) {
            width: 100%;
          }
        }
      }
    }

    &__form {
      padding: 140px 0 160px;
      position: relative;
      background-color: #F8FBFC;

      .wsfcc__wrapper {
        position: relative;
      }

      @media only screen and (max-width: 428px) {
        padding: 150px 0 75px;
      }

      .anim_svg_line {
        position: absolute;
        left: 0;
        transform: scaleX(-1);
        top: -150px;

        @media only screen and (max-width: 1300px) and (min-width: 429px) {
          left: -100px;
          top: -270px;
        }

        @media only screen and (max-width: 428px) {
          transform: scaleX(1);
          left: auto;
          right: -30px;
          top: -300px;
        }
      }

      &__head {
        position: relative;
        margin-bottom: 80px;

        @media only screen and (max-width: 428px) {
          margin-bottom: 50px;
        }

        .gr_btn {
          position: absolute;
          right: 0;
          top: 10px;

          @media only screen and (max-width: 428px) {
            display: none;
          }
        }

        .bl_btn {
          position: absolute;
          right: 0;
          top: 10px;

          @media only screen and (max-width: 428px) {
            display: none;
          }
        }

        h2 {
          color: #0092D5;
          font-size: 53px;
          margin-bottom: 20px;
          text-align: center;

          @media only screen and (max-width: 820px) {
            font-size: 36px;
          }

          &+p {
            text-align: center;
          }
        }

        p {
          font-size: 24px;
          line-height: 2;
          color: #00325F;
          font-weight: 500;

          @media only screen and (max-width: 820px) {
            font-size: 22px;
          }

          @media only screen and (max-width: 428px) {
            br {
              display: none;
            }
          }
        }
      }

      &__btns {
        display: flex;
        text-align: center;
        justify-content: center;
        column-gap: 30px;
        margin-bottom: 60px;

        @media only screen and (max-width: 820px) {
          flex-wrap: wrap;
          row-gap: 20px;
        }
      }

      &__btn {
        background-color: #00325F;
        border: 1px solid #00325F;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        color: #fff;
        border-radius: 7px;
        line-height: 62px;
        height: 62px;
        padding: 0 44px;
        cursor: pointer;
        transition: all 0.4s ease;
        width: 395px;
        font-size: 26px;

        svg,
        svg path {
          transition: fill .4s ease;
        }

        &:hover {
          color: #00325F;
          background-color: #fff;

          svg,
          svg path {
            fill: #00325F
          }
        }

        @media only screen and (max-width: 820px) {
          width: 100%;
          padding: 0;

        }
      }

      .contactForm {
        background-color: #fff;
        border-radius: 20px;
        margin: auto;
        max-width: 936px;
        padding: 55px 50px 45px;

        @media only screen and (max-width: 428px) {
          padding: 0;
          background-color: transparent;
        }
      }

      .errTxt {
        position: absolute;
        top: 20px;
        right: 15px;
        color: #F7235C;
        font-size: 11px;
        margin-top: 0;
        padding-top: 0;
        display: none;
      }

      #form_phone {
        label {
          width: 60px;
        }

        input[type='tel'] {
          width: calc(100% - 70px);
        }
      }

      &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;

        @media only screen and (max-width: 428px) {
          display: block;
        }

        p {
          display: block;
          color: #00325F;
          font-size: 14px;
          margin-top: 40px;
        }

        .errTxt {
          bottom: 35px;
        }

        &.err {
          p {
            color: #F7235C;
          }

          textarea {
            border-bottom: #F7235C 1px solid;
            color: #F7235C;
          }

          .errTxt {
            display: block;
          }
        }
      }

      &__label {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        span {
          display: block;
        }
      }

      &__col {
        width: 49%;
        border: #00325F 1px solid;

        padding-left: 15px;
        margin-bottom: 15px;
        position: relative;
        border-radius: 7px;

        &.col1 {
          width: 100%;
        }

        @media only screen and (max-width: 428px) {
          width: 100%;
        }

        .errTxt {
          bottom: -20px;
        }

        &.err {
          border: #F7235C 1px solid;

          label {
            color: #F7235C;
          }

          .errTxt {
            display: block;
          }
        }
      }

      label {
        color: #00325F;
        font-size: 14px;
        font-weight: 500;
      }

      input[type='text'],
      input[type='email'],
      input[type='tel'] {
        height: 60px;
        line-height: 60px;
        width: 83%;
      }

      input[type='submit'],
      .submitBtn {
        margin: 15px auto 0;
        background-color: #0092D5;
        border: 1px solid #0092D5;
        text-align: center;
        display: block;
        color: #fff;
        border-radius: 7px;
        line-height: 62px;
        height: 62px;
        padding: 0 44px;
        cursor: pointer;
        transition: all 0.4s ease;
        width: 340px;
        font-size: 16px;

        &:hover {
          color: #0092D5;
          background-color: #fff;
        }

        @media only screen and (max-width: 428px) {
          width: 100%;
        }
      }

      #form_content {
        padding-right: 15px;

        label {
          margin-top: 15px;
        }
      }

      textarea {
        width: 100%;
        margin: 15px 0 15px;
        min-height: 80px;

        @media only screen and (max-width: 428px) {
          height: 120px;
        }
      }
    }
  }

  .wsfcc__header {
    position: fixed;
    width: 100%;
    top: 55px;
    left: 0;
    z-index: 100;
    margin: auto;

    @media only screen and (max-width: 820px) {
      top: 28px;
    }

    @media only screen and (max-width: 767px) {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }

    .wsfcc__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__h1 {
      margin-right: auto;

      img {
        width: 116px;
        display: block;
      }
    }

    &__ul {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 820px) {
        display: none;
      }
    }

    &__li {
      &:nth-child(2) {
        margin-left: 35px;
      }

      &:nth-child(3) {
        margin-left: 50px;
      }

      a {
        font-size: 16px;
        color: #00325F;
      }
    }

    &__btn {
      background-color: #00325F;
      border: 1px solid #00325F;
      border-radius: 25px;
      display: block;
      line-height: 42px;
      height: 42px;
      padding: 0 75px 0 20px;
      position: relative;
      margin-left: 30px;

      span {
        color: #fff;
        font-size: 14px;
        vertical-align: middle;
        line-height: 38px;
        height: 42px;
        display: block;
      }

      svg {
        width: 33px;
        position: absolute;
        left: 110px;
        top: 50%;
        transform: translateY(-50%);
        fill: #fff;
      }

      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {

        background-color: #fff;

        span {
          color: #00325F;
        }

        svg {
          fill: #00325F;
        }
      }
    }
  }


}




.wsfcc__footer {
  background-color: #00325F;
  padding: 80px 0 60px;

  .wsfcc__wrapper {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (max-width: 428px) {
      display: block;
    }
  }

  &__left {
    width: 50%;

    @media only screen and (max-width: 428px) {
      width: 100%;
    }

    h3 {
      width: 116px;
      margin-bottom: 35px;
    }

    p {
      color: #fff;
      font-size: 16px;
      line-height: 2;
    }
  }

  &__right {
    width: 50%;
    text-align: right;

    @media only screen and (max-width: 428px) {
      width: 100%;
      margin-top: 60px;
      text-align: left;
    }

    p {
      color: #fff;
      font-size: 16px;
      line-height: 2;

    }
  }

  &__copy {
    width: 100%;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 14px;
  }
}

@media only screen and (max-width: 820px) {
  .wsfcc__body .wsfcc__section__more .imgInVideo .video {
    position: absolute;
    z-index: 4;
    top: 12.8%;
    left: 23.5%;
    width: 50.2%;
    overflow: hidden;
    border-radius: 20px;
  }

  .wsfcc__section__more .imgInVideo img {
    width: 119% !important;
    margin-left: -9% !important;
  }
}